<component name="ArtifactManager">
  <artifact type="war" build-on-make="true" name="springMVC-sample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springMVC-sample-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springMVC-sample:war exploded" />
    </root>
  </artifact>
</component>